#OpaqueAnimation {
  --server-color: theme("colors.primary.300");
  --client-color: theme("colors.palette.honey");
  --server-stroke-color: theme("colors.primary.500");
  --client-stroke-color: #f1a816;
}


/* =========================== */
/* =========== CLI =========== */
/* =========================== */

.client-active .text-color-actor {
  color: var(--client-color);
}

.server-active .text-color-actor {
  color: var(--server-color);
}


/* =========================== */
/* =========== SVG =========== */
/* =========================== */


/* --- remove unused elements --- */

#banana,
.static-dot {
  display: none;
}

#connectionYellow,
#connectionGray {
  display: none;
}

/* --- 'root' settings --- */

#ClientServer2 {
  --active-color: theme("colors.gray.600");
  --transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  --dot-radius: 3.5;
}

/* --- base --- */

#ClientServer2.server-active {
  --active-color: var(--server-color);
  --active-stroke-color: var(--server-stroke-color);
}
#ClientServer2.client-active {
  --active-color: var(--client-color);
  --active-stroke-color: var(--client-stroke-color);
}

/* --- coloring --- */

/* TODO

either
- add elements with color after certain lights and opacity 0 -> 1
- add parent classes conditionally animating certain lights (class inside of svg)
- add coloring in css (either with class in svg or with nth-type)
- give all to be animated elements the color they will have and override in the default state
*/

/* lights */

.light-honey {
  fill: theme("colors.palette.honey");
  filter: url(#outer-glow-9);
}

.light-primary {
  fill: theme("colors.primary.500");
  filter: url(#outer-glow-8);
}

.light-rose {
  fill: theme("colors.palette.rose");
  filter: url(#outer-glow-7);
}



/* --- effects --- */

/* for some reason the drop-shadow of the svg is not working
   so we add it manually here
*/
.filter-connection {
  -webkit-filter: drop-shadow(0.5rem 1rem 1px rgba(0, 0, 0, .05));
  filter: drop-shadow(0.5rem 1rem 1px rgba(0, 0, 0, .05));
}


/* ========== default state ========== */
/* 
  defines the default styling for the svg, 
  hiding all elements ready for animating
  in a neutral color scheme
*/

.board {
  opacity: 0;
}

/* server */

#particles {
  opacity: 0;
}

#envelope {
  opacity: 0;
}

#ellipticalSolidClient {
  opacity: 0;
}

#ellipticalSolidServer {
  opacity: 0;
}

/* client */

#keyColor1,
#keyColor2 {
  fill: #666771;
}

.asterisk {
  opacity: 0;
}

#passwordOutline {
  opacity: 0.3;
}

#button {
  opacity: 0.4;
}



/* -------- boards -------- */

.board {
  transition: var(--transition);
}

/* -------- connection -------- */

#connection-line,
#connection .dot,
#connection .data {
  transition: var(--transition);
}

#connection-line,
#connection .data {
  stroke: var(--active-stroke-color);
}

#connection-line {
  animation-delay: 0.05s;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  stroke-dasharray: 320;
  stroke-dashoffset: 320;
}

.connect #connection-line {
  animation-name: establishConnection;
}

.dot {
  r: 0;
  fill: var(--active-stroke-color);
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.connect #dotClient {
  animation-name: plop;
  animation-delay: 0s;
}

.connect #dotServer {
  animation-name: plop;
  animation-delay: 1.2s;
}


/* --- data --- */

.send-to-server .data {
  animation-name: clientToServer;
}

.send-to-client .data {
  animation-name: serverToClient;
}

.data {
  stroke-width: 0.45rem;
  /* make the dot by rounding the edges of the stroke */
  stroke-linecap: round;
  stroke-linejoin: round;

  /* set the length of the dash to 0 so it only shows the rounded edges => circle
      the second parameter defines the space between, needs to be at least as long as the path itself
  */
  stroke-dasharray: 0 300;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  /* needs to be more that 0 to make initial state invisible */
  stroke-dashoffset: 10;

  filter: url(#drop-shadow-3);
}




/* =========================== */
/* ======== ANIMATION ======== */
/* =========================== */

/* parameters are set out of bounds of the line so the data-dot
   vanishes when reaching it's destination (otherwise it lingers there)
*/
@keyframes serverToClient {
  from {
      stroke-dashoffset: 10;
  }
  to {
      stroke-dashoffset: 320;
  }
}
  
@keyframes clientToServer {
  from {
      stroke-dashoffset: 320;
  }
  to {
      stroke-dashoffset: 10;
  }
}

@keyframes establishConnection {
  from {
      stroke-dashoffset: -320;
  }

  to {
      stroke-dashoffset: 0;
  }
}

@keyframes endConnection {
  from {
      stroke-dashoffset: 0;
  }

  to {
      stroke-dashoffset: -320;
  }
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

@keyframes plop {
  from {
      r: 0;
  }
  to {
      r: var(--dot-radius);
  }
}

@keyframes shrink {
  from {
      r: var(--dot-radius);
  }
  to {
      r: 0;
  }
}


