/* ---------------- logo ---------------- */

/* custom class to ensure the right type for the logo-background */
.type-alpha {
    mask-type: alpha;
  }
  
  .svg-wrapper {
    position: absolute;
    height: 100%;
    width: auto;
  }
  
  .svg-wrapper svg {
    height: 100%;
    width: auto;
  }
  
  .mask {
    --transition-time: 0.9s;
    --easing-function: cubic-bezier(0.51, 0.62, 0.92, 0.53);
    
    -webkit-mask-image: -webkit-linear-gradient(30deg,black 25%,rgba(0,0,0,.2)50%,black 75%);
    mask-image: -webkit-linear-gradient(30deg,black 25%,rgba(0,0,0,.2)50%,black 75%);
    mask-image: -moz-linear-gradient(30deg,black 25%,rgba(0,0,0,.2)50%,black 75%);
    mask-image: -o-linear-gradient(30deg,black 25%,rgba(0,0,0,.2)50%,black 75%);
    mask-image: linear-gradient(60deg,black 25%,rgba(0,0,0,.2)50%,black 75%);
    -webkit-mask-size: 400%;
    mask-size: 400%;
    -webkit-mask-position: 100%;
    mask-position: 100%;
  
    /* needed so the mask-transition also shows on page load  */
    -webkit-animation: mask-reveal 1.5s infinite linear;
    -webkit-animation-iteration-count: 1;
    animation: mask-reveal 1.5s linear;
    animation-iteration-count: 1;
  }
  
  .mask:hover {
    -webkit-mask-position: 0%;
    mask-position: 0%;
    -webkit-transition: mask-position var(--transition-time) var(--easing-function),-webkit-mask-position var(--transition-time) var(--easing-function);
    -moz-transition: mask-position var(--transition-time) var(--easing-function),-webkit-mask-position var(--transition-time) var(--easing-function);
    -o-transition: mask-position var(--transition-time) var(--easing-function),-webkit-mask-position var(--transition-time) var(--easing-function);
    transition: mask-position var(--transition-time) var(--easing-function),-webkit-mask-position var(--transition-time) var(--easing-function);
  }
  
  @-webkit-keyframes mask-reveal {
    from {
      -webkit-mask-position: 100%;
      mask-position: 100%;
    }
    to {
      -webkit-mask-position: 0%;
      mask-position: 0%;
    }
  }
  
  @keyframes mask-reveal {
    from {  
      -webkit-mask-position: 100%;
      mask-position: 100%; 
    }
    to {  
      -webkit-mask-position: 0%;
      mask-position: 0%; 
    }
  }
  
  
  /* ---------------- blocks & elements ---------------- */
  
  /* cta-area */
  .cta-gradient {
    background: linear-gradient(96deg, #AECBE3 2.84%, #B8C0D7 46.22%, #D1A3B0 62.41%, #F09057 80.98%, #FD8933 99.76%);
  }