@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --se-terracotta: #EF5245;
  --se-coral: #FD7064;
  --se-raspberry: #F4216D;
  --se-rose: #FF91C9;
  --se-honey: #FFB921;
  --se-orange: #FF7D2E;
  --se-emerald: #47c07a;
  --se-arctic: #4abac1;
  --se-sky: #1E8EDE;
  --se-serenity: #435BF8; /* primary 500 */
  --se-lavender: #515DCE;
  --se-purple: #9E36CF;
  --se-slate: #4F5D78;

  --gray-100: #FDFDFD;
  --gray-120: #FAFAFC;
  --gray-150: #F5F5F7;
  --gray-200: #EDEDF0;
  --gray-300: #DCDDE5;
  --gray-400: #CBCBD3;
  --gray-500: #B4B4BD;
  --gray-600: #8A8B96;
  --gray-700: #666771;
  --gray-800: #4F5057;
  --gray-900: #1F1F21;

  --primary-100: #edefff;
  --primary-150: #DDE1FE;
  --primary-200: #CDD3FC;
  --primary-300: #9DAAFD;
  --primary-400: #7083fa;
  --primary-500: #425af7;
  --primary-600: #2B44E4;
  --primary-700: #172FC8;
  --primary-800: #0A1E9B;
  --primary-900: #000F70;

  --shiki-color-text: var(--gray-800);
  --shiki-color-background: transparent;

  --shiki-token-constant: var(--primary-700);
  --shiki-token-string: var(--se-arctic);
  --shiki-token-function: #478BDD; /* color between arctic and primary-500 */
  --shiki-token-keyword: var(--se-purple);

  --shiki-token-comment: var(--gray-500);
  --shiki-token-parameter: var(--se-coral);
  --shiki-token-string-expression: var(--shiki-token-string);
  --shiki-token-punctuation: var(--gray-800);
  --shiki-token-link: var(--shiki-token-string);
}

.dark {
  --shiki-color-text: var(--gray-150);
  --shiki-color-background: transparent;

  --shiki-token-constant: hsl(232deg 98% 79%); /* primary variant */
  --shiki-token-string: hsl(184deg 49% 74%); /* light arctic variant */
  --shiki-token-function: hsl(184deg 54% 57%); /* arctic variant */
  --shiki-token-keyword: hsl(281deg 67% 64%); /* purple variant */

  --shiki-token-comment: var(--gray-500);
  --shiki-token-parameter: var(--se-coral);
  --shiki-token-string-expression: var(--shiki-token-string);
  --shiki-token-punctuation: var(--gray-500);
  --shiki-token-link: var(--shiki-token-string);
}


/* 
  ------------------------- OVERRIDES -------------------------
  ---------------- to customize the theme more ----------------
*/

/* general */
.nx-text-primary-600 {
  color: var(--primary-500);
}

/* sidebar */
.nextra-sidebar-container li.active a {
  color: var(--primary-500);
  background-color: var(--primary-100);
}

/* page-navigation (link under article) */
article main > :last-child a {
  color: var(--gray-600);
}

article main > :last-child a:hover {
  color: var(--gray-900);
}

/* theme selector  */
[role="listbox"] li {
  color: var(--gray-700);
}

[role="listbox"] li:has(> span) {
  color: var(--gray-900);
}

[role="listbox"] li:hover {
  color: var(--gray-900);
  background-color: #66677110; /* gray-700 */
}


/* ---------------- dark ---------------- */

:is(html[class~=dark] body) {
  background-color: var(--gray-900);
}

:is(html[class~=dark] .dark\:nx-bg-dark) {
  background-color: var(--gray-900);
}

/* nav-bar */
@supports (-webkit-backdrop-filter:blur(1px)) or ((-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))) {
  :is(html[class~=dark] .nextra-nav-container-blur) {
    /* important needed as nextra uses it -.- */
    background-color: #1F1F2180 !important; /* gray-900 */
  }
}

/* shadow which blends out scrolling elements */
:is(html[class~=dark] .nextra-scrollbar [class*=nx-shadow]) {
  --tw-shadow: 0 -12px 16px var(--gray-900);
}

/* general */
:is(html[class~=dark] .nx-text-primary-600) {
  color: var(--primary-400);
}

/* sidebar */
:is(html[class~=dark] .nextra-sidebar-container li.active a) {
  color: var(--gray-100);
  background-color: hsl(var(--nextra-primary-hue)100% 71%/0.75); /* primary 400 */
}

/* page-navigation (link under article) */
:is(html[class~=dark] article main > :last-child a) {
  color: var(--gray-600);
}

:is(html[class~=dark] article main > :last-child a:hover) {
  color: var(--gray-100);
}

/* theme selector */
:is(html[class~=dark] [role="listbox"] li) {
  color: var(--gray-500);
}

:is(html[class~=dark] [role="listbox"] li:has(> span)) {
  color: var(--gray-100);
}

:is(html[class~=dark] [role="listbox"] li:hover) {
  color: var(--gray-100);
  background-color: #8A8B9620; /* gray-600 */
}
