/* ------- ROOT ------- */

:root {
    --shiki-color-text: #414141;
    --shiki-color-background: transparent;
    --shiki-token-constant: #1976d2;
    --shiki-token-string: #22863a;
    --shiki-token-comment: #aaa;
    --shiki-token-keyword: #d32f2f;
    --shiki-token-parameter: #ff9801;
    --shiki-token-function: #6f42c1;
    --shiki-token-string-expression: var(--shiki-token-string);
    --shiki-token-punctuation: #212121;
    --shiki-token-link: var(--shiki-token-string);
    --shiki-color-ansi-black: #24292e;
    --shiki-color-ansi-black-dim: rgba(36, 41, 46, .5);
    --shiki-color-ansi-red: #d73a49;
    --shiki-color-ansi-red-dim: rgba(215, 58, 73, .5);
    --shiki-color-ansi-green: #28a745;
    --shiki-color-ansi-green-dim: rgba(40, 167, 69, .5);
    --shiki-color-ansi-yellow: #dbab09;
    --shiki-color-ansi-yellow-dim: rgba(219, 171, 9, .5);
    --shiki-color-ansi-blue: #0366d6;
    --shiki-color-ansi-blue-dim: rgba(3, 102, 214, .5);
    --shiki-color-ansi-magenta: #5a32a3;
    --shiki-color-ansi-magenta-dim: rgba(90, 50, 163, .5);
    --shiki-color-ansi-cyan: #1b7c83;
    --shiki-color-ansi-cyan-dim: rgba(27, 124, 131, .5);
    --shiki-color-ansi-white: #6a737d;
    --shiki-color-ansi-white-dim: hsla(212, 8%, 45%, .5);
    --shiki-color-ansi-bright-black: #959da5;
    --shiki-color-ansi-bright-black-dim: hsla(210, 8%, 62%, .5);
    --shiki-color-ansi-bright-red: #cb2431;
    --shiki-color-ansi-bright-red-dim: rgba(203, 36, 49, .5);
    --shiki-color-ansi-bright-green: #22863a;
    --shiki-color-ansi-bright-green-dim: rgba(34, 134, 58, .5);
    --shiki-color-ansi-bright-yellow: #b08800;
    --shiki-color-ansi-bright-yellow-dim: rgba(176, 136, 0, .5);
    --shiki-color-ansi-bright-blue: #005cc5;
    --shiki-color-ansi-bright-blue-dim: rgba(0, 92, 197, .5);
    --shiki-color-ansi-bright-magenta: #5a32a3;
    --shiki-color-ansi-bright-magenta-dim: rgba(90, 50, 163, .5);
    --shiki-color-ansi-bright-cyan: #3192aa;
    --shiki-color-ansi-bright-cyan-dim: rgba(49, 146, 170, .5);
    --shiki-color-ansi-bright-white: #d1d5da;
    --shiki-color-ansi-bright-white-dim: rgba(209, 213, 218, .5)
  }
  
  @supports (color:color(display-p3 0 0 0)) {
    :root {
      --shiki-color-text: color(display-p3 .254903 .254903 .254903);
      --shiki-token-constant: color(display-p3 .222026 .455961 .797051);
      --shiki-token-string: color(display-p3 .261609 .517894 .262929);
      --shiki-token-comment: color(display-p3 .666644 .666644 .666644);
      --shiki-token-keyword: color(display-p3 .761402 .245911 .21847);
      --shiki-token-parameter: color(display-p3 .944308 .615493 .221148);
      --shiki-token-function: color(display-p3 .410511 .267378 .729566);
      --shiki-token-punctuation: color(display-p3 .12945 .12945 .12945)
    }
  }
  
  @supports (color:lab(0% 0 0)) {
    :root {
      --shiki-color-text: lab(27.5348% 0 0);
      --shiki-token-constant: lab(48.3994% .649333 -55.5719);
      --shiki-token-string: lab(49.1367% -42.0409 31.8582);
      --shiki-token-comment: lab(69.608% -.0000298023 0);
      --shiki-token-keyword: lab(47.8876% 63.025 42.31);
      --shiki-token-parameter: lab(72.7377% 33.9074 77.3632);
      --shiki-token-function: lab(39.0339% 41.1896 -60.5821);
      --shiki-token-punctuation: lab(12.7448% 0 0)
    }
  }


  /* ------- dark ------- */
  
  .dark {
    --shiki-color-text: #d1d1d1;
    --shiki-token-constant: #79b8ff;
    --shiki-token-string: #ffab70;
    --shiki-token-comment: #6b737c;
    --shiki-token-keyword: #f97583;
    --shiki-token-function: #b392f0;
    --shiki-token-string-expression: #4bb74a;
    --shiki-token-punctuation: #bbb;
    --shiki-token-link: var(--shiki-token-string);
    --shiki-color-ansi-black: #586069;
    --shiki-color-ansi-black-dim: rgba(88, 96, 105, .5);
    --shiki-color-ansi-red: #ea4a5a;
    --shiki-color-ansi-red-dim: rgba(234, 74, 90, .5);
    --shiki-color-ansi-green: #34d058;
    --shiki-color-ansi-green-dim: rgba(52, 208, 88, .5);
    --shiki-color-ansi-yellow: #ffea7f;
    --shiki-color-ansi-yellow-dim: rgba(255, 234, 127, .5);
    --shiki-color-ansi-blue: #2188ff;
    --shiki-color-ansi-blue-dim: rgba(33, 136, 255, .5);
    --shiki-color-ansi-magenta: #b392f0;
    --shiki-color-ansi-magenta-dim: rgba(179, 146, 240, .5);
    --shiki-color-ansi-cyan: #39c5cf;
    --shiki-color-ansi-cyan-dim: rgba(57, 197, 207, .5);
    --shiki-color-ansi-white: #d1d5da;
    --shiki-color-ansi-white-dim: rgba(209, 213, 218, .5);
    --shiki-color-ansi-bright-black: #959da5;
    --shiki-color-ansi-bright-black-dim: hsla(210, 8%, 62%, .5);
    --shiki-color-ansi-bright-red: #f97583;
    --shiki-color-ansi-bright-red-dim: rgba(249, 117, 131, .5);
    --shiki-color-ansi-bright-green: #85e89d;
    --shiki-color-ansi-bright-green-dim: rgba(133, 232, 157, .5);
    --shiki-color-ansi-bright-yellow: #ffea7f;
    --shiki-color-ansi-bright-yellow-dim: rgba(255, 234, 127, .5);
    --shiki-color-ansi-bright-blue: #79b8ff;
    --shiki-color-ansi-bright-blue-dim: rgba(121, 184, 255, .5);
    --shiki-color-ansi-bright-magenta: #b392f0;
    --shiki-color-ansi-bright-magenta-dim: rgba(179, 146, 240, .5);
    --shiki-color-ansi-bright-cyan: #56d4dd;
    --shiki-color-ansi-bright-cyan-dim: rgba(86, 212, 221, .5);
    --shiki-color-ansi-bright-white: #fafbfc;
    --shiki-color-ansi-bright-white-dim: rgba(250, 251, 252, .5)
  }
  
  @supports (color:color(display-p3 0 0 0)) {
    .dark {
      --shiki-color-text: color(display-p3 .819616 .819616 .819616);
      --shiki-token-constant: color(display-p3 .530161 .715063 .976018);
      --shiki-token-string: color(display-p3 .951836 .685108 .47841);
      --shiki-token-comment: color(display-p3 .425394 .449959 .48271);
      --shiki-token-keyword: color(display-p3 .912244 .487925 .52253);
      --shiki-token-function: color(display-p3 .681317 .57716 .917817);
      --shiki-token-string-expression: color(display-p3 .412063 .708644 .344662);
      --shiki-token-punctuation: color(display-p3 .733365 .733365 .733365)
    }
  }
  
  @supports (color:lab(0% 0 0)) {
    .dark {
      --shiki-color-text: lab(83.8412% -.0000298023 0);
      --shiki-token-constant: lab(72.6797% -5.9377 -41.8341);
      --shiki-token-string: lab(77.5312% 27.4176 43.2358);
      --shiki-token-comment: lab(47.984% -1.63257 -6.06269);
      --shiki-token-keyword: lab(65.9075% 52.4906 18.1315);
      --shiki-token-function: lab(66.4473% 27.2323 -43.2583);
      --shiki-token-string-expression: lab(66.4666% -48.7314 44.7269);
      --shiki-token-punctuation: lab(75.8836% 0 -.0000119209)
    }
  }



/* ------- border ------- */

.nx-border-black {
    --tw-border-opacity: 1;
    border-color: rgba(0, 0, 0, var(--tw-border-opacity))
  }
  
  .nx-border-black\/10 {
    border-color: rgba(0, 0, 0, .1)
  }
  
  .nx-border-black\/5 {
    border-color: rgba(0, 0, 0, .05)
  }
  
  .nx-border-blue-200 {
    --tw-border-opacity: 1;
    border-color: rgba(191, 219, 254, var(--tw-border-opacity))
  }
  
  .nx-border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity))
  }
  
  .nx-border-gray-300 {
    --tw-border-opacity: 1;
    border-color: rgba(209, 213, 219, var(--tw-border-opacity))
  }
  
  .nx-border-neutral-200\/70 {
    border-color: hsla(0, 0%, 90%, .7)
  }
  
  .nx-border-orange-100 {
    --tw-border-opacity: 1;
    border-color: rgba(255, 237, 213, var(--tw-border-opacity))
  }
  
  .nx-border-primary-500 {
    --tw-border-opacity: 1;
    border-color: hsl(var(--nextra-primary-hue)100% 50%/var(--tw-border-opacity))
  }
  
  .nx-border-red-200 {
    --tw-border-opacity: 1;
    border-color: rgba(254, 202, 202, var(--tw-border-opacity))
  }
  
  .nx-border-transparent {
    border-color: transparent
  }
  
  .nx-border-yellow-100 {
    --tw-border-opacity: 1;
    border-color: rgba(254, 249, 195, var(--tw-border-opacity))
  }
  
  .nx-border-opacity-\[0\.04\] {
    --tw-border-opacity: .04
  }



  /* ------- background-color ------- */
  
  .nx-bg-black {
    --tw-bg-opacity: 1;
    background-color: rgba(0, 0, 0, var(--tw-bg-opacity))
  }
  
  .nx-bg-black\/80 {
    background-color: rgba(0, 0, 0, .8)
  }
  
  .nx-bg-black\/\[\.05\] {
    background-color: rgba(0, 0, 0, .05)
  }
  
  .nx-bg-blue-100 {
    --tw-bg-opacity: 1;
    background-color: rgba(219, 234, 254, var(--tw-bg-opacity))
  }
  
  .nx-bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgba(243, 244, 246, var(--tw-bg-opacity))
  }
  
  .nx-bg-gray-200 {
    --tw-bg-opacity: 1;
    background-color: rgba(229, 231, 235, var(--tw-bg-opacity))
  }
  
  .nx-bg-neutral-900 {
    --tw-bg-opacity: 1;
    background-color: rgba(23, 23, 23, var(--tw-bg-opacity))
  }
  
  .nx-bg-orange-50 {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 247, 237, var(--tw-bg-opacity))
  }
  
  .nx-bg-primary-100 {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--nextra-primary-hue)100% 94%/var(--tw-bg-opacity))
  }
  
  .nx-bg-primary-50 {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--nextra-primary-hue)100% 97%/var(--tw-bg-opacity))
  }
  
  .nx-bg-primary-500\/10 {
    background-color: hsl(var(--nextra-primary-hue)100% 50%/.1)
  }
  
  .nx-bg-primary-700\/5 {
    background-color: hsl(var(--nextra-primary-hue)100% 39%/.05)
  }
  
  .nx-bg-red-100 {
    --tw-bg-opacity: 1;
    background-color: rgba(254, 226, 226, var(--tw-bg-opacity))
  }
  
  .nx-bg-transparent {
    background-color: transparent
  }
  
  .nx-bg-white {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity))
  }
  
  .nx-bg-yellow-50 {
    --tw-bg-opacity: 1;
    background-color: rgba(254, 252, 232, var(--tw-bg-opacity))
  }
  

  /* sometimes they set the bg-opacity lower/higher .. do we need this ? */
  /* 
    => if they change something our design changes with it .. do we want this ?
  */
  .nx-bg-opacity-\[0\.03\] {
    --tw-bg-opacity: .03
  }



  /* ------- text-color ------- */

  .nx-text-blue-900 {
    --tw-text-opacity: 1;
    color: rgba(30, 58, 138, var(--tw-text-opacity))
  }
  
  .nx-text-current {
    color: currentColor
  }
  
  .nx-text-gray-100 {
    --tw-text-opacity: 1;
    color: rgba(243, 244, 246, var(--tw-text-opacity))
  }
  
  .nx-text-gray-400 {
    --tw-text-opacity: 1;
    color: rgba(156, 163, 175, var(--tw-text-opacity))
  }
  
  .nx-text-gray-500 {
    --tw-text-opacity: 1;
    color: rgba(107, 114, 128, var(--tw-text-opacity))
  }
  
  .nx-text-gray-600 {
    --tw-text-opacity: 1;
    color: rgba(75, 85, 99, var(--tw-text-opacity))
  }
  
  .nx-text-gray-700 {
    --tw-text-opacity: 1;
    color: rgba(55, 65, 81, var(--tw-text-opacity))
  }
  
  .nx-text-gray-800 {
    --tw-text-opacity: 1;
    color: rgba(31, 41, 55, var(--tw-text-opacity))
  }
  
  .nx-text-gray-900 {
    --tw-text-opacity: 1;
    color: rgba(17, 24, 39, var(--tw-text-opacity))
  }
  
  .nx-text-orange-800 {
    --tw-text-opacity: 1;
    color: rgba(154, 52, 18, var(--tw-text-opacity))
  }
  
  .nx-text-primary-600 {
    --tw-text-opacity: 1;
    color: hsl(var(--nextra-primary-hue)100% 45%/var(--tw-text-opacity))
  }
  
  .nx-text-primary-800 {
    --tw-text-opacity: 1;
    color: hsl(var(--nextra-primary-hue)100% 32%/var(--tw-text-opacity))
  }
  
  .nx-text-red-500 {
    --tw-text-opacity: 1;
    color: rgba(239, 68, 68, var(--tw-text-opacity))
  }
  
  .nx-text-red-900 {
    --tw-text-opacity: 1;
    color: rgba(127, 29, 29, var(--tw-text-opacity))
  }
  
  .nx-text-slate-50 {
    --tw-text-opacity: 1;
    color: rgba(248, 250, 252, var(--tw-text-opacity))
  }
  
  .nx-text-slate-900 {
    --tw-text-opacity: 1;
    color: rgba(15, 23, 42, var(--tw-text-opacity))
  }
  
  .nx-text-yellow-900 {
    --tw-text-opacity: 1;
    color: rgba(113, 63, 18, var(--tw-text-opacity))
  }



  /* ------- shadow ------- */

  .nx-shadow {
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow)
  }
  
  .nx-shadow-\[0_-12px_16px_\#fff\], .nx-shadow-\[0_-12px_16px_white\] {
    --tw-shadow: 0 -12px 16px #fff;
    --tw-shadow-colored: 0 -12px 16px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow)
  }
  
  .nx-shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color)
  }
  
  .nx-shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color)
  }
  
  .nx-shadow-sm, .nx-shadow-xl {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow)
  }
  
  .nx-shadow-xl {
    --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, .1), 0 8px 10px -6px rgba(0, 0, 0, .1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color)
  }
  
  .nx-shadow-gray-100 {
    --tw-shadow-color: #f3f4f6;
    --tw-shadow: var(--tw-shadow-colored)
  }
  
  .nx-ring-1 {
    --tw-ring-offset-shadow: var(--tw-ring-inset)0 0 0 var(--tw-ring-offset-width)var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset)0 0 0 calc(1px + var(--tw-ring-offset-width))var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 transparent)
  }
  
  .nx-ring-black\/5 {
    --tw-ring-color: rgba(0, 0, 0, .05)
  }



  /* ------- code ------- */

  code .line.highlighted {
    background-color: hsl(var(--nextra-primary-hue)100% 45%/.1);
    color: hsl(var(--nextra-primary-hue)100% 45%/.5);
    --tw-shadow: 2px 0 currentColor inset;
    --tw-shadow-colored: inset 2px 0 var(--tw-shadow-color)
  }
  
  code .line .highlighted, code .line.highlighted {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 transparent), var(--tw-ring-shadow, 0 0 transparent), var(--tw-shadow)
  }
  
  code .line .highlighted {
    --tw-shadow: 0 0 0 2px rgba(0, 0, 0, .3);
    --tw-shadow-colored: 0 0 0 2px var(--tw-shadow-color);
    background-color: hsl(var(--nextra-primary-hue)100% 32%/.1);
    --tw-shadow-color: hsl(var(--nextra-primary-hue)100% 32%/.1);
    --tw-shadow: var(--tw-shadow-colored);
    border-radius: .125rem
  }
  
  :is(html[class~=dark] code .line .highlighted) {
    background-color: hsl(var(--nextra-primary-hue)100% 77%/.1);
    --tw-shadow-color: hsl(var(--nextra-primary-hue)100% 77%/.1);
    --tw-shadow: var(--tw-shadow-colored)
  }